PORT=5001
MONGO_URL=
FRONTEND_URL=http://localhost:5173

JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES_IN=15m

JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=7d

RESET_PASSWORD_SECRET=
RESET_PASSWORD_EXPIRES_IN=1h

BREVO_API_KEY=
BREVO_SENDER_EMAIL=no-reply@sparklepro.com
BREVO_SENDER_NAME=SparklePro